@import "./nav.css";
@import "./content.css";
@import "./svg.css";
@import "./trevis.css";
@import "./notFound.css";

body {
    margin: 0;
}

.app {
    display: flex;
    min-height: 100vh;
    font-size: 18px;
    font-family: sans-serif;
}