.nav {
    flex: 0 0 250px;
    max-width: 250px;
    background-color: #24292e;
    color: rgba(255,255,255,0.75);
}

    .nav__title {
        padding: 10px 0;
        text-align: center;
        font-size: 22px;
    }

    .nav__row {
        display: flex;
        line-height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        transition: background-color .5s;
    }

    .nav__row:hover {
        background-color: #39424c;
    }

    .nav__row_active {
        background-color: #49535f;
    }

        .nav__row-link {
            flex: 1;
            padding: 0 10px;
            text-decoration: none;
            color: inherit;
        }