extends layout

block nav
    div.nav__title.
        Ветки
    each br in branches
        div.nav__row
            a(href=`/${br}` class="nav__row-link")= br

block content
    a.content__tree-back(href= `/${backUrl}`) Вернуться назад
    pre.content__blob= content