extends layout
include mixin/svgFile
include mixin/svgFolder

block nav
    include blocks/nav

block content
    div.content__main
        include blocks/treeBranch
        include blocks/contentCommits