extends layout
include mixin/svgFile
include mixin/svgFolder

block nav
    div.nav__title.
        Ветки
    each br in branches
        if (br === branch)
            div.nav__row.nav__row_active
                a(href=`/${br}` class="nav__row-link")= br
        else
            div.nav__row
                a(href=`/${br}` class="nav__row-link")= br

block content
    div.content__select-commit= `Выбранный комит: ${hash}`
    div.content__main
        include blocks/treeCommit