doctype html
html
    include blocks/head
    body
        div.app
            div.nav
                include blocks/blockTrevisCI
                block nav
            div.content
                block content


