doctype html
html
    include blocks/head
    body
        div.notFound
            div.notFound__inner
                span.notFound__title Страница не найдена
                a.notFound__link(href="/")= "Вернуться на главную"