head
    title= "My Node.js"
    meta(charset = 'UTF-8')
    meta(name="robots" content="noindex")
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    link(rel='stylesheet', href='/css/index.css')
    script(src='/js/index.js')